/*
**************************
FONTS
**************************
*/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,300,500,600,700,800,900,100,200);

@font-face {
    font-family: 'Lato';
    src: url('assets/webfonts/lato-light-webfont.eot');
    src: url('assets/webfonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/webfonts/lato-light-webfont.woff') format('woff'),
         url('assets/webfonts/lato-light-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/webfonts/lato-regular-webfont.eot');
    src: url('assets/webfonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/webfonts/lato-regular-webfont.woff') format('woff'),
         url('assets/webfonts/lato-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/webfonts/lato-bold-webfont.eot');
    src: url('assets/webfonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/webfonts/lato-bold-webfont.woff') format('woff'),
         url('assets/webfonts/lato-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*
**************************
BODY
**************************
*/

body{
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  font-weight: 200;
  overflow-y:scroll;
  -webkit-font-smoothing: antialiased;
}

::selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}
	
	::-moz-selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}

p{
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  font-weight: 400;
}

a{
  text-decoration:none;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; 
}

a:focus {
  outline:none;
}

strong{
  font-weight:700;

}

/*
**************************
PRELOADER
**************************
*/

.preloader{
  position:fixed;
  top:0;
  width:100%;
  height:100%;
  background:white;
  z-index:999;
}
 
.preloader .item{
  position:absolute;
  width:50px;
  height:50px;
  left:50%;
  top:50%;
  margin-left:-25px;
  margin-top:-25px;
} 

.spinner {
  width: 40px;
  height: 40px;
  margin: 0px auto;
  background-color: #009de0;
  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}



/*
**************************
NAVIGATION OPACITY
**************************
*/

.opacity-nav{
  position:fixed;
  display:none;
  width:50%;
  height:100%;
  top:0;
  left:50%;
  z-index:99999;
  background:rgba(0,157,224,0.95);
}

ul.menu-fullscreen{
  width: 100%;
  top: 50%;
  position: absolute;
  height: 350px;
  margin-top: -175px;
}

ul.menu-fullscreen li{
  font-size:24px;
  text-align:center;
  line-height:70px;
  font-weight:200;
}

ul.menu-fullscreen li > a{
  color:#fff;
  border:0;
}

ul.menu-fullscreen li > a:hover{
  color:#c3c3c3;
}


#full{
  width:1300px;
  position: relative;
  top:0;
  margin:0 auto;
  z-index: 9997;
}

#fullscreen{
  display:none;
  position:absolute;
  top:0;
  width:100%;
  margin:0 auto;
  height:80px;
  z-index: 9998;
}

/*
**************************
HEADER
**************************
*/

header.boxed{
  position: fixed;
  width:100%;
  z-index:9999;
  display:none;
  background:white;
  padding-bottom: 20px;
  top:0;
    -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -ms-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in; 
}

header.boxed .header-margin{
  width:1300px;
  margin: 0 auto;
  height: 50px;
  padding: 40px 0 30px 0;
}

header.boxed .header-margin-mini{
  width:90%;
  margin:0 auto;
}

header a{
  color:#000000;
}

header .logo{
  float:left;
  border-bottom: 0;
  display: table-cell;
  vertical-align: middle;
}

header .logo path{
  fill:#009de0;
}

header .logo:hover{
  opacity:0.75;
}

/*
**************************
CONTENT
**************************
*/

.hero-image{
  position:relative; 
  width:100%; 
  top:0; 
  height:400px; 
  background: url('assets/img/full/full.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.one-column{
  width:40%;
  position:relative;
  float:left;
}

.two-column{
  width:60%;
  position:relative;
  float:left;
}

.one-column p{
  width:70% !important;
}

.two-column p{
  width:100% !important;
}

.clear{
  clear:both;
}

.content{
  position:relative;
  margin:50px auto 0 auto;
  width: 1300px;
}

.content .text-intro{
  margin-top: 100px;
  margin: 50px auto 0;
  width: 1300px;
}

.content .text-intro h1{
  font-size: 2rem;
  width:33%;
  text-transform:uppercase;
  color:#009de0;
  font-weight: 700;
  line-height: 100%;
}

.content .text-intro p, a{
  font-size:13px;
  color:#8d8d8d;
  margin-top:30px;
  font-weight:200;
  line-height:22px;
  letter-spacing:0.5px;
  width:50%;
}

.content .text-intro a:hover{
  opacity: 0.75;
}

        .typed-cursor{
            opacity: 1;
            font-weight: 700;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }

.container {
    border-bottom: 1px solid #f1f1f1;
    padding: 50px 0 100px 0;
}

.container:last-of-type {
    border-bottom: 0px;
    padding: 50px 0 0 0;
}

/*
**************************
HOME SIDEBAR
**************************
*/

.home-sidebar{
  top:0;
  position:absolute;
  width:33.3333%;
  right:0;
  height:100%;
  background:#f4f4f4;
  z-index:9;
  overflow:hidden;
  background-size:100%;
}

.parallax{
  position:absolute;
}

.parallax-option{
  position:absolute; width:100%; height:100%;
}

/*
**************************
PORTFOLIO GRID
**************************
*/

.prev-next{
  width:100%;
  max-width:1170px;
  margin:0 auto;
  padding-top:100px;
}

.prev-next a{
  color:black;
  font-weight:500;
  padding-bottom: 15px;
}

.prev-next a:hover{
  border-bottom:1px solid black;
}

.prev-button{
  width:50%;
  position:relative;
  float:left;
  text-align:left;
}

.next-button{
  width:50%;
  position:relative;
  float:left;
  text-align:right;
}


#ajax-content{width:100%;}

.portfolio-grid{
  width:1330px;
  position:relative;
  margin: 30px auto;
  overflow:hidden;
  padding-bottom: 100px;
}

li.grid-item{
  width:420px;
  position:relative;
  float:left;
  padding:10px;
}

li.grid-item img{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

li.grid-item:hover img{
    -webkit-filter: saturate(0%); /* Chrome, Safari, Opera */
    filter: saturate(0%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.grid-hover{
  position: absolute;
  width: 420px;
  height: 100%;
  top:0;
  background: white;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; 
}

.grid-hover:hover {
  opacity: 0.9;
}

.grid-hover h1{
  font-size:25px;
  bottom:80px;
  left:40px;
  position:absolute;
  text-transform:uppercase;
  color:#009de0;
  letter-spacing:0.5px;
  font-weight:700;
  line-height:30px;
  text-align: left;
}

.grid-hover p{
  font-size:12px;
  bottom:40px;
  left:40px;
  position:absolute;
  color:#686868;
  letter-spacing:0.5px;
  font-weight:200;
  line-height:14px;
}

.grid-hover a:hover{
  opacity: 0.75;
}

.grid-hover span{
  font-size:13px;
  bottom:120px;
  left:40px;
  position:absolute;
  color:#009de0;
  letter-spacing:0.5px;
}

/*
**************************
FOOTER
**************************
*/

#footer-box{height:150px; margin-top:75px;}

footer{
  background: #f1f1f1;
  width:100%;
  margin-top:150px;
  height:300px;
  overflow:hidden;
  position:relative;
  z-index:10;
}

.footer-margin{
  width:1140px;
  margin: 30px auto;
  line-height: 100px;
}

#footer-left{text-align:left;}

.footer-margin .copyright{
  color: #686868;
  letter-spacing: 0.5px;
  font-size: 12px;
  width: 100%;
  text-align:center;
  float: left;
}

.footer-margin .social-footer{
  color: #686868;
  letter-spacing: 0.5px;
  font-size: 13px;
  width: 100%;
  text-align:center;
  float: left;
}

.footer-margin .social-footer a{
  font-size:15px;
  color:black;
  padding: 20px;
}

.footer-margin .social-footer a:hover{
  color:#c3c3c3;
}


/*
**************************
CONTACT
**************************
*/

.contact-form {
  margin-top: 30px;
}

.contact-one, .contact-two{
  width:30%;
  padding-right:3%;
  position:relative;
  float:left;
}

.contact-three{
  width:33%;
  position:relative;
  float:left;
}

.contact-one p, .contact-two p, .contact-three p{
  width:100% !important;
}

input{
  width:100%;
  height:40px;
  background:#f8f7f7;
  border:0;
  color:#000000;
  font-weight:500;
  line-height:40px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom:10px;
  font-size:13px;
  padding-left:15px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

input.button-submit{
  width:100%;
  height:40px;
  background:#009de0;
  border:0;
  font-family: 'Montserrat', sans-serif;
  color:#fff;
  float:right;
  font-weight:700;
  line-height:40px;
  font-size:13px;
  padding-left: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; 
}


input.button-submit:hover{
  background:#f8f7f7;
  color:#009de0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; 
}

input:focus{
  background:#f4f4f4; 
}

textarea{
  width:100%;
  height:40px;
  border:0;
  line-height:40px;
  background:#f8f7f7;
  color:#000000;
  font-size:13px;
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
  margin-bottom:10px;
  padding:0 0 0 15px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
    -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; 
}

textarea:focus{background:#f4f4f4; height:250px;}
